html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  // background: #222037;
  background: $background-color;
}

*,
html,
body {
  scroll-behavior: smooth !important;

  &::selection {
    background: #58688b4d;
  }
}
