html {
  font-size: 62.5%;

  // &.sr .load-hidden {
  //   visibility: hidden;
  // }
}

body {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  // background: #222037;
  background: $background-color;
}

hr {
  color: #907e70;
}

*,
html,
body {
  scroll-behavior: smooth !important;

  &::selection {
    background: darken($accent-color, 20%);
  }
}
