// COLORS

// Gruvbox-ish
$accent-color: #68948a;
$background-color: #32302f;
$foreground-color: #ebdbb2;
$navbar-color: #242423;
$dark-grey: #655b53;
$light-grey: #ebdbb2;
$header-text: #ddc7a1;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
