// COLORS

$accent-color: #a89983;
$background-color: #32302e;

$dark-grey: #655b53;
$light-grey: #a89983;

$header-text: #907e70;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
