// COLORS
$primary-color: #94b8ff;
$secondary-color: #9ccfd8;

$white-color: #232138;
$purple-color: #a78bfa;
// $red-color: #ee8679;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #d3d2e7; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
