.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  & i {
    opacity: 0;
  }

  &:hover {
    & i {
      opacity: 1;
      transition: opacity 0.16s;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

.cta-btn--hero {
  @include supportColorForIE11();
  border: 2px solid transparent;
  border-image: linear-gradient(62deg, $mint-color 0%, $mint-color 100%);

  border-image-slice: 1;
  @include supportIE11() {
    color: $mint-color !important;
    &:hover {
      color: $background-color !important;
    }
  }

  @include respond(phone) {
    background-image: none;
    border: 2px solid $mint-color;
    -webkit-text-fill-color: $mint-color;
  }

  &::after {
    background-image: linear-gradient(62deg, $mint-color 0%, $mint-color 100%);

    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    -webkit-text-fill-color: #fff;
    text-decoration: none;

    @include respond(phone) {
      -webkit-text-fill-color: $mint-color;
    }

    &::after {
      width: 100%;
    }
  }
}

.cta-btn--resume {
  color: #fff;
  background: #393939;
  padding: 1rem 1.5rem;

  &::after {
    background: #2a2a2a;
  }

  &:hover {
    color: #cdcdcd;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

.cta-btn--projects {
  color: #fff;
  background: #393939;
  padding: 1rem 1.5rem;

  &::after {
    background: #2a2a2a;
  }

  &:hover {
    color: #cdcdcd;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

.notable-mentions-live-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  border: 2px solid transparent;
  border-image: linear-gradient(62deg, #2b2b2b 0%, #212121 100%);
  border-image-slice: 1;
  color: $header-text;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    background-image: linear-gradient(62deg, #2b2b2b, #212121 100%);
  }

  &:hover {
    -webkit-text-fill-color: $mint-color;
    text-decoration: none;
    color: #ffffff;

    &::after {
      width: 100%;
    }
  }
}

.notable-mentions-source-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  color: $header-text;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }

  & i {
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover {
    transform: translateX(2px);
    color: $mint-color;

    & i {
      opacity: 1;
    }
  }

  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $header-text;
  }

  &.cta-btn--hero {
    @include supportColorForIE11();
    border: 2px solid transparent;
    border-image: linear-gradient(
      62deg,
      $background-color 0%,
      $background-color 100%
    );
    border-image-slice: 1;

    &::after {
      background-image: linear-gradient(
        62deg,
        $background-color 0%,
        $background-color 100%
      );
    }

    &:hover {
      -webkit-text-fill-color: #fff;
      text-decoration: none;

      @include respond(phone) {
        -webkit-text-fill-color: $mint-color;
      }

      &::after {
        width: 100%;
      }
    }
  }
}
