.footer {
  // background-color: $dark-grey;
  // background: #222037;
  background: $background-color;
  color: $background-color;

  @include respond(phone) {
    border: 0px;
  }

  &__text {
    // color: darken($background-color, 50%);
    color: $header-text;
    font-size: 1.5rem;
    pointer-events: none;

    a {
      font-size: 1.6rem;
      transition: all 0.4s;
      display: inline-block;
      color: $accent-color;
      pointer-events: all;

      &:hover,
      &:active {
        background-size: 100% 2px;
        text-decoration: underline;
      }
    }
  }

  // & hr {
  //   margin: 1rem auto;
  //   border: 0;
  //   width: 50%;
  //   border-top: 2px solid #877aa49a;
  //   margin-top: 2rem;
  //   margin-bottom: 3rem;
  // }
}

// .social-links {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;

//   a {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     color: $background-color;
//     font-size: 3rem;
//     width: 5rem;
//     height: 5rem;
//     margin: $default-font-size $default-font-size;
//     transition: all 0.2s ease-in;

//     &:hover {
//       transform: translateY(-2px);
//     }
//   }
// }

.back-to-top i {
  color: $header-text;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    color: $accent-color;
    // opacity: 0.7;
  }
}

