.footer {
  // background-color: $dark-grey;
  // background: #222037;
  background: $background-color;
  color: $background-color;
  padding: 4.8rem 0;

  @include respond(phone) {
    border: 0px;
  }

  &__text {
    // color: darken($background-color, 50%);
    color: $header-text;
    font-size: 1.3rem;
    pointer-events: none;

    a {
      font-size: 1.3rem;
      transition: all 0.4s;
      display: inline-block;
      color: #ee867b;
      background-image: linear-gradient(to right, #ee867b, #ee867b);
      pointer-events: all;

      background-size: 0% 2px;
      background-position: 0 100%;
      background-repeat: no-repeat;

      &:hover,
      &:active {
        text-shadow: 0 0 7px #ee867b;
        background-size: 100% 2px;
      }
    }
  }

  & hr {
    margin: 1rem auto;
    border: 0;
    width: 50%;
    border-top: 2px solid #877aa49a;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

// .social-links {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;

//   a {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     color: $background-color;
//     font-size: 3rem;
//     width: 5rem;
//     height: 5rem;
//     margin: $default-font-size $default-font-size;
//     transition: all 0.2s ease-in;

//     &:hover {
//       transform: translateY(-2px);
//     }
//   }
// }

.back-to-top i {
  color: $accent-color;
  // color: #f8d2c9;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;

  &:hover {
    transform: translateY(-2px);
    opacity: 0.6;
  }
}
