.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  z-index: 999;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  padding-bottom: 7rem;

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  & li {
    margin-right: 17px;

    & a {
      color: $header-text;
      text-decoration: none;
      padding: 10px;

      &:hover {
        color: $accent-color;
      }
    }
  }
}

.navbar.navbar-solid {
  background-color: #0b0119e6;
  border-bottom: #a58bfc61 solid 1px;
}

.site-logo {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: $header-text;
  font-size: 3.2em;
  margin-left: 10px;

  &:hover {
    color: $header-text;
  }
}

.github-icon {
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
  font-size: 2.7em;
  color: $header-text;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-4px);
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .site-logo {
    display: none;
  }
  .github-icon {
    display: none;
  }
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.typing-effect::after {
  content: "|";
  animation: typing 1s infinite;
}
